<mat-card>
  <mat-card-title>Kontaktieren Sie uns</mat-card-title>
  <mat-card-content>
    <div>Haben Sie Fragen, Anregungen oder benötigen Unterstützung? Wir sind für Sie da! Nutzen Sie einen der folgenden Wege, um uns zu erreichen:</div>
    <div><b>E-Mail:</b>  info@kindergarten.at</div>
    <div><b>Telefon:</b> +43 123 456 7890</div>
    <div><b>Fax:</b> +43 123 456 7891</div>
    <br>
    <div><b>Anschrift:</b></div>
    <div>Kindergarten GmbH</div>
    <div>Musterstraße 123</div>
    <div>12345 Musterstadt</div>

    <br>
    <div><b>Öffnungszeiten:</b></div>
    <div>Montag - Freitag: 08:00 - 18:00 Uhr</div>
    <div>Samstag: 09:00 - 14:00 Uhr</div>
  </mat-card-content>
</mat-card>
