<div class="filter-wrapper">
  <h3>Wählen Sie einen Kindergarten, um ausschließlich Kinder aus dieser Einrichtung anzuzeigen.</h3>

  <form [formGroup]="kindergardenForm" (submit)="onChange()">
    <mat-select formControlName="kindergardenId">
      <mat-option [value]="-1">All Kindergardens</mat-option>
      <mat-option *ngFor="let kindergarden of storeService.kindergardens"
                  [value]="kindergarden.id">{{kindergarden.name}}, {{kindergarden.address}}</mat-option>
    </mat-select>

    <button mat-flat-button color="primary" type="submit">Filtern</button>
  </form>

</div>


